
.swiper-container {
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
    }
.swiper-slide {
      background-position: center;
      background-size: cover;
      height: 290px;
      width: 270px;
}
.swiper-wrapper img {
	height:230px;
	width:180px;

	
}  
